################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIs/SmartCertify.API/.vs
